/******************************************************************
Stylesheet: Tablet Portrait Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

/**
 * Woocommerce
 */

nav.woocommerce-MyAccount-navigation {
    
    ul {
        
        li {
            padding-right: 1em;
            
            a {
                border: none;
                border-right: 1px solid $border-color;
            }
            
            &:last-child {
                border-bottom: none;
            }
            
            &.is-active {
                
                a {
                    border-top: 1px solid $border-color;
                    border-bottom: 1px solid $border-color;
                    border-right: none;
                }
            }
        }
    }
}

/**
 * Tribe The Events Calendar
 */

#tribe-events-content-wrapper {
    
    .tribe-events-list {

        div.tribe-events-content {
            float: right;
            padding-right: 0;
            width: 54%;
        }
    }
}