/*----------------------------------------------------------------------------*/

/*	News feed tabs css
------------------------------------------------------------------------------*/
.et_pb_tabs .et_pb_tabs_controls li.et_pb_tab_1, .et_pb_tabs .et_pb_tabs_controls li.et_pb_tab_1 a{

	line-height: 2em !important;

}


.news_tabs .et_pb_all_tabs .et_pb_tab{

    padding: 24px 10px;

}

.news_tabs .et_pb_slider .et_pb_slide{

    padding: 0;

}

.news_tabs .et_pb_slider .et_pb_container{

    height: auto!important;

}

.news_tabs .et_pb_slider .et_pb_slider_container_inner{

    display: inline-block;

}

.news_tabs .et_pb_slider .et_pb_slider_container_inner .et_pb_slide_image{

    position: relative;
    float: left;
    margin-right: 2.5%;

}

.news_tabs .et_pb_slider .et_pb_slider_container_inner .et_pb_slide_image img{

    max-height: none!important;

}

.news_tabs .et_pb_slider .et_pb_slider_container_inner .et_pb_slide_description .et_pb_slide_title,
.news_tabs .et_pb_slider .et_pb_slider_container_inner .et_pb_slide_description .et_pb_slide_content{

    padding: 0;

}

.news_tabs .et_pb_slider .et_pb_slider_container_inner .et_pb_slide_description .et_pb_slide_title{

    padding-bottom: 10px;
    padding-right: 50px;

}

.news_tabs .et_pb_slider .et_pb_slider_container_inner .et_pb_slide_description .et_pb_slide_content{

    text-align: left!important;

}

.news_tabs .et_pb_slider .et_pb_slider_container_inner .et_pb_slide_description{

    padding-right: 3%!important;

}



/*----------------------------------------------------------------------------*/

/*	News feed tabs css
------------------------------------------------------------------------------*/
.row_tabs_slider .et_pb_all_tabs .et-pb-slider-arrows .et-pb-arrow-prev{

    left: initial;

}

.news_header_text_posts .et_pb_text_0{

    padding: 0!important;

}

.news_header_text_posts p{

    position: absolute;
    top: 11px;
    padding-left: 33px;

}

.news_post_layout .et_pb_tabs_controls .et_pb_tab_0 a{

    background: url("../img/ic_menu@2x.png") no-repeat center center;
    color: transparent!important;

}

.news_post_layout .et_pb_tabs_controls .et_pb_tab_1 a{

    background: url("../img/ic_Apps@2x.png") no-repeat center center;
    color: transparent!important;

}

.news_post_layout .et_pb_tabs_controls{

    /*border-bottom: 1px solid #95989A!important;*/
    background-color: transparent!important;

}

.news_post_layout .et_pb_tabs_controls li{

    float: right;
    border-right: 0!important;

}

.news_post_layout .et_pb_tabs_controls li a{

    padding: 4px 10px;

}

.news_post_layout .et_pb_tabs_controls{

    padding-right: 10px!important;

}
/*----------------------------------------------------------------------------*/

/* Newsfeed Standard and Masonry layouts css
------------------------------------------------------------------------------*/

.news_post_layout .posts-blog-feed-module .hentry{

    padding: 0!important;

}
/*.news_post_layout .posts-blog-feed-module .post-content{

    padding:15px 0px;

}*/
.news_post_layout .et_pb_extra_module{

    border-top: 0!important;

}
.news_post_layout .posts-blog-feed-module .hentry{

    border-bottom: none;

}

.blog_feed_standard article .post-content .excerpt p, .news_feed_mason article .post-content .excerpt p{

    line-height: 1.5em;

}

.posts-blog-feed-module article .post-content .excerpt .read-more-button{

    background-color: transparent;
    color: #00377d;
    font-size: 16px!important;
    text-transform: lowercase;

}

.blog_feed_standard article .post-content .excerpt .read-more-button::after{

    font-size: 20px!important;

}

.news_feed_mason .post-content,
.techpapers_feed_mason .post-content{

    padding: 0 12px!important;

}

.news_feed_mason article .post-content .read-more-button,
.techpapers_feed_mason article .post-content .read-more-button{

    padding-left: 0!important;

}
/*----------------------------------------------------------------------------*/

/* Blog page single default layout layouts css
------------------------------------------------------------------------------*/

.single-post .post-content .wp-caption{

    display: none;

}

.et_post_format-et-post-format-video .post-thumbnail{

    overflow: visible !important;
    padding: 0 5% !important;
    max-height: none !important;

}
/*
.post-template-default #main-content .et_pb_extra_column_main article .post-thumbnail{

        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 60px;

}


.post-template-default #main-content>.container{

        width: 100%!important;
        max-width: none!important;

}
*/
.post-template-default #main-content .container .et_pb_extra_column_main article{

    box-shadow: none;
    border-bottom: 1px solid #E5E5E5;

}

/*
.post-template-default #main-content .post-wrap,
.post-template-default #main-content .et_pb_extra_column_main .post-footer,
.post-template-default #main-content .et_pb_extra_column_main .post-nav,
.post-template-default #main-content .et_pb_extra_column_main .et_extra_other_module {

        width: 90%;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;


}
*/

.post-template-default #main-content .et_pb_extra_column_main .post-footer{

    border-top: 0;

}

.post-template-default #main-content .et_pb_extra_column_main .post-footer{

    margin-bottom: 24px;

}

.post-template-default #main-content .et_pb_extra_column_main .et_extra_other_module{

    box-shadow: none;
    border-radius: 0;
    border: 1px solid #E5E5E5;
    /* border-top: 8px solid #00377d !important; */

}

.post-template-default #main-content .et_pb_extra_column_main .et_extra_other_module .author-box-header h3,
.post-template-default #main-content .et_pb_extra_column_main .et_extra_other_module .related-posts-header h3{

    color: #00377d;
    text-transform: capitalize;
    font-size: 18px;

}

.post-template-default #main-content .et_pb_extra_column_main .post-nav .title{

    display: none;

}

.post-template-default #main-content .et_pb_extra_column_main .post-nav .button{

    border-radius: 0;

}
/*
.post-template-default #main-content .et_pb_extra_column_main article .post-footer{

        position: relative !important;
        top: 104px;

}

.post-template-default #main-content .et_pb_extra_column_main .post-nav{

        position: relative !important;
        top: -104px !important;

}
*/
/*
.post-template-default #main-content #content-area .et_pb_extra_column_sidebar{

        display: none;

}

.post-template-default #main-content .et_pb_extra_column_main{

        min-width: 100%;
        padding-right: 0;

}
*/

/*----------------------------------------------------------------------------*/

.news_post_layout .et_pb_tabs_controls .et_pb_tab_0 a,
.news_post_layout .et_pb_tabs_controls .et_pb_tab_1 a{

    padding: 8px 0;

}

.tech_post_layout .et_pb_tabs_controls .et_pb_tab_1 a{

    padding: 8px 0;

}

.news_post_layout .et_pb_tabs_controls .et_pb_tab_1{

    margin-right: 8px;

}

/*.news_post_layout .et_pb_tabs_controls{

    padding-right: 26px !important;

}*/

.news_post_layout .et_pb_tabs_controls .et_pb_tab_0 a{

    background: url(../img/ic_menu@2x.png) no-repeat center left;

}

.news_post_layout .et_pb_tabs_controls .et_pb_tab_1 a{

    background: url(../img/ic_Apps@2x.png) no-repeat center right;

}

.news_post_layout{

    .pagination{

        li{

            width: auto;
            min-width: 30px;

        }

    }

}

@media(max-width: 480px){

    .author-box-description{

        width: 100%;

    }

    .post-template-default #main-content .et_pb_extra_column_main article .post-thumbnail{

        padding: 0 20px;

    }

}

@media(max-width: 767px){

    .news_tabs .et_pb_tab{

        padding-left: 0!important;
        padding-right: 0!important;
        padding-top: 0!important;

    }

    .news_tabs .et_pb_slides .et_pb_container{

        margin: 0;
        display: flex;

    }

    .news_tabs .et_pb_slide .et_pb_slide_image{

        margin-right: 0!important;
        padding-right: 0!important;
        padding-top: 0!important;

    }

    .news_tabs .et_pb_slide .et_pb_slide_image img{

        width: 100%;

    }

    .news_tabs .et_pb_slide .et_pb_slide_description{

        width: 100%!important;
        padding: 5% 3%!important;
        clear: both;

    }

    .news_tabs .et_pb_slide .et_pb_slide_description .et_pb_more_button {

        float: left;

    }

    .news_tabs .et_pb_slide .et_pb_slide_description .et_pb_slide_content {

        margin-bottom: 20px!important;

    }

    .news_tabs .et_pb_slider .et-pb-slider-arrows{

        position: static!important;

    }

    .news_tabs .et_pb_slider .et-pb-slider-arrows span{

        display: block;
        font-size: 16px;

    }

    .news_tabs .et_pb_slider .et-pb-slider-arrows .et-pb-arrow-prev,
    .news_tabs .et_pb_slider .et-pb-slider-arrows .et-pb-arrow-next{

        background-color: #F1F1F1;
        padding: 1% 3%;
        width: 120px;
        text-align: center;
        margin-top: 25px;

    }

    .news_tabs .et_pb_slider .et-pb-slider-arrows .et-pb-arrow-prev{

        float: left;
        margin-left: 3%;

    }

    .news_tabs .et_pb_slider .et-pb-slider-arrows .et-pb-arrow-next{

        float: right;
        margin-right: 3%;

    }

    .news_tabs .et_pb_slider .et-pb-slider-arrows .et-pb-arrow-prev::before,
    .news_tabs .et_pb_slider .et-pb-slider-arrows .et-pb-arrow-next::before{

        display: none;

    }

}

@media(min-width: 980px){


    .post-template-default .standard_center_format{

        padding: 0 15%;

    }

    .post-template-default .standard_left_format{

        float: left;
        margin-right: 25px;
        margin-left: 60px;

    }

    .post-template-default .header-left{

        margin-top: 0 !important;
        margin-bottom: 0 !important;

    }

    .post-template-default .post-wrap-left{

        margin-top: -31px;

    }


}



.news_feed_mason article h2 a{

    color: #454545 !important

}
