/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: $white;
    font-size: 1.3em;
    line-height: 1.1em;
    font-weight: normal;
    padding: 0.4em 0.5em;
    border-radius: 0.25em;
    border: 0;
    cursor: pointer;

    // hovering on the btn
    &:hover, &:focus {
        color: $white;
        text-decoration: none;
        outline: none;
    } // end hover

    // clicking on the button
    &:active {
        top: 1px; // adds a tiny hop to the click
    } // end active

} // end .button

.button {
    @extend %btn; // here we load the btn defaults
    background-color: $highlight-color;

    &:hover,
    &:focus {
        background-color: darken($highlight-color, 4%);
    } // end hover

    &:active {
        background-color: darken($highlight-color, 5%);
    } // end active

} // end blue button
