@mixin media($min, $max){
    @media (min-width: $min + 'px') and (max-width: $max + 'px') {
        @content;
    }
}

@mixin max_media($max) {
    @media only screen and (max-width: $max + 'px') {
        @content;
    }
}

@mixin min_media($min) {
    @media only screen and (min-width: $min + 'px') {
        @content;
    }
}

@mixin text_element($els: '') {
    @if $els == '' or $els == 'all' {
        h1, h2, h3, h4, h5, h6, p {
            @content;
        }
    } @else if $els == 'h' {
        h1, h2, h3, h4, h5, h6 {
            @content;
        }
    }
}

@mixin padding($s, $x) {
    @if $s == 'lr' {
        padding-left: $x;
        padding-right: $x;
    } @else if $s == 'tb' {
        padding-bottom: $x;
        padding-top: $x;
    }
}

@mixin margin($s, $x) {
    @if $s == 'lr' {
        margin-left: $x;
        margin-right: $x;
    } @else if $s == 'tb' {
        margin-bottom: $x;
        margin-top: $x;
    }
}
