/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #323944;
$white:             #ffffff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$meta-gray:         #9fa6b4;

$tan:               #eceee5;
$green:             #7dd667;
$blue:              #2980b9;

$highlight-color:   #ed2444;

$border-color:      #cccccc;
$disabled-gray:     #cfcfcf;



$light_grey:        #95989A;
$light_med_grey:    #535353;
$med_grey:          #454545;
$light_blue:        #4fb8c3;
$med_blue:          #007A94;
$dark_blue:         #037584;
$btn_yellow:        #FFCE00;

$bgr_blue_n:        #0078c9;

$light_blue_n:      #0089c0;
$med_blue_n:        #00377d;
$dark_blue_n:       #000;

$green:             #00885f;
$dark_green:        #004631;
$vermillion:        #f75921;

$color-black:       #000;
$color-white:       #fff;

$color-accent:      #c73b0a;
$color-accent-l:    #ff5f26;

$color-gray-post-meta:  #95989a;

$color_fb:          #3949AB;
$color_li:          #42A5F5;
$color_in:          linear-gradient(to bottom, #5342D6, #B729A8, #F2203E, #FEC053);
$color_tw:          #42A5F5;
$color_yt:          #DB0C0B;

/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/

/********************************/
/********* Fonts Start **********/
/********************************/

@font-face{

    font-family: 'Roboto';;
    src: url('../fonts/Roboto-Regular.ttf');

}

@font-face{

    font-family: 'Sitka Heading Bold';
    src: url('../fonts/Sitka_bold.ttc');

}

@font-face{

    font-family: 'Sitka Heading Regular';
    src: url('../fonts/Sitka_regular.ttc');

}

@font-face{

    font-family: 'Sitka Banner Bold';
    src: url('../fonts/Sitka_banner_bold.ttc');

}

@font-face{

    font-family: 'Sitka Banner Regular';
    src: url('../fonts/Sitka_banner_regular.ttc');

}

@font-face{

    font-family: 'Segoe UI Regular';
    src: url('../fonts/segoeui_regular.ttf');

}

@font-face{

    font-family: 'Segoe UI Semibold';
    src: url('../fonts/segoeui_semibold.ttf');

}

@font-face{

    font-family: Vagabond;
    src: url('../fonts/Vagabond-Regular.ttf');

}

@font-face{

    font-family: CalibanStd;
    src: url('../fonts/Caliban-Std.ttf');

}

$roboto:                'Roboto', sans-serif;
$sitka_heading_bold:    'Sitka Heading Bold', 'Times New Roman', serif;
$sitka_heading_regular: 'Sitka Heading Regular', 'Times New Roman', serif;
$sitka_banner_bold:     'Sitka Banner Bold', 'Times New Roman', serif;
$sitka_banner_regular:  'Sitka Banner Regular', 'Times New Roman', serif;
$segoe_regular:         'Segoe UI Regular', 'Open Sans', sans-serif;
$segoe_semibold:        'Segoe UI Semibold', 'Open Sans', sans-serif;



/********************************/
/********** Fonts End ***********/
/********************************/

/********************************/
/******** Helpers Start *********/
/********************************/

$nb:                !important;

/********************************/
/********* Helpers End **********/
/********************************/
