#log-viewer textarea {
    width: 100%;
}

.cmb-map {
    height: 400px;
    width: 99%;
    margin: 5px 1px 1px;
    border: solid 1px #DDD;
    box-sizing: border-box;
}
.cmb-map img {
    max-width: none;
}

.cmb2-options-page .cmb-th label {
    padding: 0;
}
.cmb2-options-page h3.cmb2-metabox-title {
    font-size: 1.6em;
}
.cmb2-options-page .cmb-title-small .cmb2-metabox-title {
    font-size: 1.2em;
    margin-bottom: 0;
}

.cmb2-api-form.cmb-type-group .cmb-row.cmb-repeat-group-field {
    border: none !important;
    display: inline-block;
    padding: 10px 0 0;
}
.cmb2-api-form.cmb-type-group .cmb-row.api-form-text-input {
    width: 32%;
    margin-right: 1%;
}
.cmb2-api-form.cmb-type-group .cmb-row.api-form-text-input .cmb-th,
.cmb2-api-form.cmb-type-group .cmb-row.api-form-text-input .cmb-td {
    width: 100%;
    float: none;
}
.cmb2-api-form.cmb-type-group .cmb-row.api-form-option {
    width: 170px;
}
.cmb2-api-form.cmb-type-group .cmb-row.api-form-option .cmb-th,
.cmb2-api-form.cmb-type-group .cmb-row.api-form-option .cmb-td {
    display: inline-block;
    width: auto;
    float: none;
    vertical-align: middle;
    margin-right: 1%;
}
.cmb2-api-form.cmb-type-group .cmb-row.cmb-remove-field-row {
    padding: 10px 0;
}

#log-viewer textarea {
    width: 100%;
}

#profile_user_selected {
    margin-bottom: 5px;
}
