/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: $white;
    font-size: 1.3em;
    line-height: 1.1em;
    font-weight: normal;
    padding: 0.4em 0.5em;
    border-radius: 0.25em;
    border: 0;
    cursor: pointer;

    // hovering on the btn
    &:hover, &:focus {
        color: $white;
        text-decoration: none;
        outline: none;
    } // end hover

    // clicking on the button
    &:active {
        top: 1px; // adds a tiny hop to the click
    } // end active

} // end .button


%y_btn{

    background-color: $color-accent !important;
    color: #fff !important;
    border-radius: 0;
    font-family: $segoe_regular;
    font-size: 22px !important;
    border: 2px solid $color-accent !important;
    padding: 0.44em 2.56em;

    &:hover{

        background-color: transparent !important;
        padding: 0.44em 2.56em !important;
        color: $color-accent !important;
        border: 2px solid $color-accent !important;

    }

    &::after{

        display: none;

    }
}

%blog_link{

    display: inline-block;
    margin-top: 10px;
    font-family: $segoe_semibold;
    font-size: 18px;
    color: $color-accent $nb;

    &::after{

        display: inline-block;
        vertical-align: bottom;
        font-family: ETmodules!important;
        content: "\35";
        font-size: 25px;

    }

}

.yellow_btn {

    @extend %y_btn;

}


.button {
    @extend %btn; // here we load the btn defaults
    background-color: $color-accent;
    color: $white !important;
    border: none !important;

    &:hover,
    &:focus {
        background-color: darken($color-accent, 4%) !important;
        border: none !important;
        color: $white !important;
    } // end hover

    &:active {
        background-color: darken($color-accent, 5%) !important;
    } // end active

} // end blue button


.header_login_btn{

    display: inline-flex;

    .my_account{

        background-color: $color-accent-l;
        margin: 0 0 0 10px;
        padding: 3px 13.333333px;
        border-radius: 24px;

        &:before{

            font-family: ETmodules !important;
            content: "\e08a";
            padding: 9px 10px;
            padding-right: 15px;
            font-size: 14px;

        }

    }

}

.et_pb_posts {

    .more-link {

        @include align-items(center);
        @include display_flex(inline-flex $nb);
        @include flex-direction(row-reverse);
        margin-top: 10px;

    }

}

.sm-infusionsoft {

    .et_pb_contact_submit {

        @extend %y_btn;
        font-size: 18px $nb;
        font-weight: 400 $nb;
        margin-left: 0;
        width: 100%;

    }

}

.btn_site {

    @include border-radius(0);

}

#tribe-events-bar {

    button {

        @include border-radius(0);
        background: transparent $nb;
        border: 2px solid $color-accent;
        color: $color-accent $nb;

        span {

            color: inherit;

        }

        &:hover {

            border-color: $color-accent $nb;

        }

    }

    .tribe-bar-views-toggle {

        &[aria-expanded="true"] {

            &::after {

                @include transform(translateY(-50%));

            }

        }

    }

}
