/********************************/
/********* Header Start *********/
/********************************/

.header{

    #main-header-wrapper{

        #main-header{

            .container{

                .ws_menu_search_container{

                    padding: 31px 0;

                    .ws_menu_search_inner{

                        .ws_menu_container{

                            .ws_menu_inner{

                                #et-navigation{

                                    #et-menu{

                                        display: none;

                                    }

                                    #et-mobile-navigation{

                                        display: block;

                                        nav{

                                            display: none;
                                            width: 100%;
                                            padding: 20px 40px;
                                            border-radius: 0 0 3px 3px;
                                            overflow: hidden;
                                            z-index: 2;

                                            #et-info{

                                                display: none;

                                            }

                                            #et-extra-mobile-menu{

                                                position: relative;
                                                top: auto;
                                                right: auto;
                                                left: auto;
                                                display: block;
                                                background: 0;
                                                border: 0;

                                                li{

                                                    width: 100%;

                                                    a{

                                                        display: block;
                                                        padding: 15px 0;

                                                    }

                                                }

                                            }


                                        }

                                    }

                                }

                            }

                        }

                    }

                }

                .ws_logo_container{

                    .ws_logo_inner{

                        .logo{

                            height: 62px;

                        }

                    }

                }

                .ws_social_container{

                    display: inline-block;

                    .ws_social_inner{

                        display: inline-block;
                        padding: 21px 0;

                        .et-extra-social-icons{

                            margin-bottom: 2px;
                            text-align: center;

                            .et-extra-social-icon{

                                .et-extra-icon{

                                    border-radius: 50%;
                                    width: 36.29px;
                                    height: 36.29px;
                                    font-size: 20px;
                                    position: relative;

                                    &::before{

                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        margin-top: -15px;
                                        margin-left: -10px;

                                    }

                                }

                                .et-extra-icon-facebook{

                                    background-color: $color_fb;

                                }

                                .et-extra-icon-twitter{

                                    background-color: $color_tw;

                                }

                                .et-extra-icon-instagram{

                                    background-image: $color_in;

                                }

                                .et-extra-icon-linkedin{

                                    background-color: $color_li;

                                }

                                .et-extra-icon-youtube{

                                    background-color: $color_yt;

                                }

                                .et-extra-icon-facebook.et-extra-icon-background,
                                .et-extra-icon-facebook.et-extra-icon-background-hover:hover{

                                    background: $color_fb !important;
                                    @include box-shadow(0px 6px 30px -6px rgba(0,0,0,0.75));

                                }

                                .et-extra-icon-twitter.et-extra-icon-background,
                                .et-extra-icon-twitter.et-extra-icon-background-hover:hover{

                                    background: $color_tw !important;
                                    @include box-shadow(0px 6px 30px -6px rgba(0,0,0,0.75));

                                }

                                .et-extra-icon-instagram.et-extra-icon-background,
                                .et-extra-icon-instagram.et-extra-icon-background-hover:hover{

                                    background-image: linear-gradient(to bottom, #5342D6, #B729A8, #F2203E, #FEC053) !important;
                                    @include box-shadow(0px 6px 30px -6px rgba(0,0,0,0.75));

                                }

                                .et-extra-icon-linkedin.et-extra-icon-background,
                                .et-extra-icon-linkedin.et-extra-icon-background-hover:hover{

                                    background: $color_li !important;
                                    @include box-shadow(0px 6px 30px -6px rgba(0,0,0,0.75));

                                }

                                .et-extra-icon-youtube.et-extra-icon-background,
                                .et-extra-icon-youtube.et-extra-icon-background-hover:hover{

                                    background: $color_yt !important;
                                    @include box-shadow(0px 6px 30px -6px rgba(0,0,0,0.75));

                                }

                            }

                        }

                        .follow_container{

                            text-align: center;

                            .follow_inner{

                                .follow_link{

                                    font-size: 16px !important;
                                    color: $med_grey;
                                    font-family: $segoe_regular;

                                    a{

                                        color: $color-accent;
                                        font-size: 16px !important;

                                    }

                                }

                            }

                        }

                    }

                }

            }

        }

    }

    #top-header{

        .container{

            #et-info{

                .et-extra-social-icons{

                    display: none;

                }

                .et-top-search{

                    display: none;

                }

                .top-login-btn{

                    display: inline-flex;

                    .my_account{

                        background-color: $color-accent-l;
                        color: #fff;
                        margin: 0 0 10px 10px;
                        padding: 4px 13.333333px;
                        padding-right: 25px;
                        border-radius: 24px;
                        font-size: 16px;
                        font-family: $segoe_regular;

                        &::before{

                            font-family: ETmodules !important;
                            content: "\e08a";
                            padding: 9px 10px;
                            font-size: 14px;

                        }

                    }

                }

                .et-top-cart-total{

                    .et-cart{

                        border-radius: 24px;
                        font-weight: 400;
                        font-size: 16px;
                        text-transform: capitalize;
                        padding: 7px 13.333333px;
                        padding-right: 25px;


                    }

                }

            }

        }

    }

}

/********************************/
/********** Header End **********/
/********************************/

/********************************/
/****** Landing Page Start ******/
/********************************/

.page-template-page-template-landing{

    #page-container{

        #main-content{

            .container{

                #content-area{

                    .et_pb_extra_column_main{

                        #landing-nav{

                            .landing-nav-container{

                                li{

                                    font-size: 21px;

                                }

                            }

                        }

                    }

                }

            }

        }

    }

}

/********************************/
/******* Landing Page End *******/
/********************************/

/** Sidebar **/
.et_pb_extra_column_sidebar {

    .et_pb_tabs {

        p {
            margin-bottom: 1.5em;
        }

        .et_pb_tabs_controls {

            li {
                padding: 0.5em;

                a {
                    padding: 0.5em;
                }
            }
        }
    }
}

/********************************/
/********* Sidebar Start ********/
/********************************/

#page-container{

    #main-content{

        #content-area{

            .et_pb_extra_column_sidebar{

                .ws_shortcode_widget{

                    .subscribe_tabs_widget{

                        .et_pb_all_tabs{

                            .et_pb_tab{

                                .subscribe_modal_section{

                                    .subscribe_modal{

                                        .et_pb_column{

                                            width: 50% !important;
                                            height: auto !important;
                                            top: 15% !important;
                                            left: 25% !important;

                                            .modal_title{

                                                p{

                                                    margin-bottom: 0 !important;

                                                }

                                            }

                                        }

                                    }

                                }

                            }

                        }

                    }

                }

            }

        }

    }

}

/********************************/
/********* Sidebar End **********/
/********************************/

/********************************/
/********* Footer Start *********/
/********************************/

/******* Footer Tabs Publication Start *******/

#footer-tab-1{

    .container{

        max-width: 90% !important;

    }

}

/******** Footer Tabs Publication End ********/


/***** Footer Menu Start ******/

#footer{

    .container{

        width: 96%;

        .et_pb_extra_row{

            .et_pb_extra_column{

                .widget_nav_menu{

                    padding-top: 35px;
                    margin-bottom: 20px;

                    .menu-main-menu-container{

                        .menu{

                            .menu-item{



                            }

                        }

                    }

                }

            }

            .column-4{

                .widget_monarchwidget{

                    .et_social_networks{

                        .et_social_icons_container{

                            margin-top: 10px !important;

                        }

                    }

                }

            }

        }

    }

}

/****** Footer Menu End *******/


/***** Footer Bottom Start ******/

#footer-bottom{

    padding-top: 0;
    padding-bottom: 10px;

    .container{

        width: 96%;

        .copy{

            font-size: 20px;

        }

    }

}

/****** Footer Bottom End *******/

/********************************/
/********** Footer End **********/
/********************************/

.home_section {

    margin-top: 50px;

}
