/******************************************************************
Stylesheet: Desktop Stylesheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

/********************************/
/********* Sidebar Start ********/
/********************************/

#page-container{

    #main-content{

        #content-area{

            .et_pb_extra_column_sidebar{

                .ws_shortcode_widget{

                    .subscribe_tabs_widget{

                        .et_pb_all_tabs{

                            .et_pb_tab{

                                .subscribe_modal_section{

                                    .subscribe_modal{
                                        
                                        .et_pb_column{
                                            
                                            width: 50% !important;
                                            max-width: 512px !important;
                                            height: auto !important;
                                            top: 15% !important;
                                            left: 50% !important;
                                            margin-left: -256px;
                                            
                                            .modal_title{
                                                
                                                p{
                                                    
                                                    margin-bottom: 0 !important;
                                                    
                                                }
                                                
                                            }
                                            
                                        }
                                        
                                    }
                                    
                                }

                            }

                        }

                    }

                }

            }

        }

    }

}

/********************************/
/********* Sidebar End **********/
/********************************/