/********************************/
/********* Header Start *********/
/********************************/

.header{

    #main-header-wrapper{

        #main-header{

            .container{

                padding: 0 15px;

                .ws_menu_search_container{
                    
                    padding: 29px 0;
                    
                    .ws_menu_search_inner{
                        
                        .ws_menu_container{
                            
                            
                            
                        }
                        
                    }

                }
                
                .ws_logo_container{

                    .ws_logo_inner{

                        .logo{

                            height: 42px;

                        }

                    }

                }

            }

        }

    }

}

/********************************/
/********** Header End **********/
/********************************/