/******************************************************************
Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/

/********************************/
/********* Header Start *********/
/********************************/

.header{

    #main-header-wrapper{

        #main-header{

            .container{

                padding: 0 30px;

                .ws_menu_search_container{

                    .ws_menu_search_inner{

                        .ws_menu_container{

                            .ws_menu_inner{

                                #et-navigation{

                                    #et-mobile-navigation{

                                        .show-menu{

                                            .show-menu-button{

                                                width: 32px;

                                                span{

                                                    width: 32px;
                                                    margin-bottom: 8px;

                                                    &:last-child{

                                                        margin-bottom: 0;

                                                    }

                                                }

                                            }

                                            .toggled{

                                                span{

                                                    margin-bottom: 0;
                                                    
                                                    &:first-child{

                                                        @include transition(translateY(6px) rotate(45deg));

                                                    }

                                                    &:last-child{

                                                        @include transition(translateY(-2px) rotate(-45deg));

                                                    }

                                                }

                                            }

                                        }
                                        
                                        nav{
                                            
                                            max-width: 360px;
                                            
                                            #et-info{
                                                
                                                .et-top-cart-total{
                                                    
                                                    .et-cart{
                                                        
                                                        width: 100%;
                                                        
                                                    }
                                                    
                                                }
                                                
                                            }
                                            
                                        }

                                    }

                                }

                            }

                        }

                    }

                }

                .ws_logo_container{

                    .ws_logo_inner{

                        .logo{

                            height: 50px;
                            margin: 20px 0;

                        }

                    }

                }

            }

        }

    }

}

/********************************/
/********** Header End **********/
/********************************/

/********************************/
/****** Landing Page Start ******/
/********************************/

.page-template-page-template-landing{
    
    #page-container{

        #main-content{

            .container{

                #content-area{

                    .et_pb_extra_column_main{

                        #landing-nav{

                            .landing-nav-container{

                                li{
                                    
                                    display: inline-block;
                                    margin-right: 1em;
                                    
                                    &:last-child{

                                        margin-right: 0;

                                    }

                                    a{

                                        display: inline-block;

                                    }
                                    
                                }
                                
                            }
                            
                        }
                    
                    }
                
                }
            
            }
        
        }
        
    }
    
}

/********************************/
/******* Landing Page End *******/
/********************************/

/********************************/
/********* Footer Start *********/
/********************************/

/****** Footer Tabs Start ******/

#footer-tabs {
    
    .simple-tabs-nav {
        
        li {
            display: inline-block;
            vertical-align: bottom;
            margin-right: 1em;
        }
    }
}

/******* Footer Tabs End *******/

/***** Footer Menu Start ******/

#footer{
    
    .container{
        
        .widget_nav_menu{
            
            .menu-main-menu-container{
                
                .menu{
                    
                    .menu-item{
                        
                        font-size: 16px;
                        
                    }
                    
                }
                
            }
            
        }
        
    }
    
}

/****** Footer Menu End *******/

/***** Footer Bottom Start ******/

#footer-bottom{
    
    .container{
        
        .copy{
            
            font-size: 14px;
            
        }
        
    }
    
}

/****** Footer Bottom End *******/

/********************************/
/********** Footer End **********/
/********************************/