/********************************/
/********* Header Start *********/
/********************************/

.header{

    #main-header-wrapper{

        #main-header{

            .container{

                .ws_menu_search_container{

                    .ws_menu_search_inner{

                        .ws_menu_container{

                            .ws_menu_inner{

                                #et-navigation{



                                }

                            }

                        }

                    }

                }

                .ws_logo_container{

                    .ws_logo_inner{

                        .logo{

                            

                        }

                    }

                }

            }

        }

    }

}

/********************************/
/********** Header End **********/
/********************************/

/********************************/
/********* Footer Start *********/
/********************************/

/***** Footer Menu Start ******/

#footer{
    
    .container{
        
        .widget_nav_menu{
            
            .menu-main-menu-container{
                
                .menu{
                    
                    .menu-item{
                        
                        font-size: 19px;
                        
                    }
                    
                }
                
            }
            
        }
        
    }
    
}

/****** Footer Menu End *******/


/***** Footer Bottom Start ******/

#footer-bottom{
    
    .container{
        
        .copy{
            
            font-size: 16px;
            
        }
        
    }
    
}

/****** Footer Bottom End *******/

/********************************/
/********** Footer End **********/
/********************************/