/******************************************************************
Stylesheet: Tablet Portrait Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

/**
 * Woocommerce
 */

nav.woocommerce-MyAccount-navigation {

    ul {

        li {
            padding-right: 1em;

            a {
                border: none;
                border-right: 1px solid $border-color;
            }

            &:last-child {
                border-bottom: none;
            }

            &.is-active {

                a {
                    border-top: 1px solid $border-color;
                    border-bottom: 1px solid $border-color;
                    border-right: none;
                }
            }
        }
    }
}

/**
 * Tribe The Events Calendar
 */

#tribe-events-content-wrapper {

    .tribe-events-list {

        div.tribe-events-content {
            padding-right: 0;
        }
    }
}


/********************************/
/********* Header Start *********/
/********************************/

.header{

    #main-header-wrapper{

        #main-header{

            .container{

                .ws_menu_search_container{

                    padding: 27px 0;

                    .ws_menu_search_inner{

                        .ws_menu_container{

                            display: inline-block;
                            margin-right: 15px;

                            .ws_menu_inner{

                                #et-navigation{

                                    #et-mobile-navigation{

                                        nav{

                                            #et-info{

                                                .et-top-search{

                                                    display: none;

                                                }

                                            }

                                        }

                                    }

                                }

                            }

                        }

                        .ws_search_container{

                            display: inline-block;
                            vertical-align: top;

                            .ws_search_inner{

                                .et-top-search{

                                    .et-search-form{

                                        position: relative;

                                        .et-search-field{

                                            border: 2px solid $med_grey;
                                            background-color: #fff;
                                            border-radius: 0;
                                            font-family: $roboto;
                                            font-size: 15px;
                                            color: $med_grey;
                                            text-transform: capitalize;
                                            font-weight: 400;
                                            padding: 0 30px 0 21px;
                                            width: 171px;

                                            &::placeholder{

                                                font-family: $roboto;
                                                font-size: 15px;
                                                color: $med_grey;
                                                text-transform: capitalize;
                                                font-weight: 400;

                                            }

                                        }

                                        .et-search-submit{

                                            position: absolute;
                                            top: 50%;
                                            right: 10px;
                                            margin-top: -13px;
                                            padding: 0;
                                            color: $color-accent;
                                            background-color: transparent !important;
                                            border: 0 !important;

                                            &::before{

                                                font-family: ETmodules!important;
                                                content: '\55';
                                                vertical-align: middle;
                                                color: inherit;
                                                font-size: 18px;

                                            }

                                        }

                                    }

                                }

                            }

                        }

                    }

                }

                .ws_logo_container{

                    .ws_logo_inner{

                        .logo{

                            height: 54px;

                        }

                    }

                }

            }

        }

    }

}

/********************************/
/********** Header End **********/
/********************************/


/********************************/
/********* Sidebar Start ********/
/********************************/

#page-container{

    #main-content{

        #content-area{

            .et_pb_extra_column_sidebar{

                .ws_shortcode_widget{

                    .subscribe_tabs_widget{

                        .et_pb_all_tabs{

                            .et_pb_tab{

                                .subscribe_modal_section{

                                    .subscribe_modal{

                                        .et_pb_column{

                                            width: 80% !important;
                                            height: 80% !important;
                                            top: 10% !important;
                                            left: 10% !important;

                                        }

                                    }

                                }

                            }

                        }

                    }

                }

            }

        }

    }

}

/********************************/
/********* Sidebar End **********/
/********************************/

/********************************/
/********* Footer Start *********/
/********************************/

/***** Footer Menu Start ******/

#footer{

    .container{

        width: 96%;

        .et_pb_extra_row{

            margin-left: 0 !important;

            .et_pb_extra_column{

                padding: 0;

                .widget_nav_menu{

                    padding-top: 25px;
                    margin-bottom: 0;

                    .menu-main-menu-container,
                    .menu-footer-container {

                        // text-align: center;

                        .menu{

                            // text-align: center;

                            .menu-item{

                                border: 0;
                                display: inline-block;
                                margin-right: 20px;

                                &:last-child{

                                    margin-right: 0;

                                }

                            }

                        }

                    }

                }

                .widget_monarchwidget{

                    .et_social_networks{

                        padding-bottom: 0;

                        .et_social_icons_container{

                            padding-top: 15px !important;
                            margin-bottom: 7px !important;

                            li{

                                margin-bottom: 0 !important;

                            }

                        }

                    }

                }

            }

        }

    }

}

/****** Footer Menu End *******/


/***** Footer Bottom Start ******/

#footer-bottom{

    padding-bottom: 10px;

    .container{

        width: 96%;

        .copy{

            display: inline-block;
            font-size: 16px;

        }

        .copy1{

            float: left;

        }

        .copy2{

            float: right;

        }

    }

}

/****** Footer Bottom End *******/

/********************************/
/********** Footer End **********/
/********************************/

#homepage-layout {

    .home_col {

        &_1 {

            margin-right: 3% $nb;
            width: 55% $nb;

        }

        &_2 {

            width: 42% $nb;

        }

    }

}
