/******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

/********************************/
/********* Header Start *********/
/********************************/

.header{

    #main-header-wrapper{

        #main-header{

            .container{

                .ws_menu_search_container{

                    .ws_menu_search_inner{

                        .ws_menu_container{

                            margin-right: 25px;

                        }

                        .ws_search_container{



                        }

                    }

                }

                .ws_logo_container{

                    .ws_logo_inner{

                        .logo{



                        }

                    }

                }

                .ws_social_container{



                }

            }

        }

    }

}

#sub-header {

    #landingpages {
        display: table;
        width: 100%;

        .landingpage {
            display: table-cell;
            margin-bottom: 0;
        }
    }
}

/********************************/
/********** Header End **********/
/********************************/

/********************************/
/****** Default Page Start ******/
/********************************/

.home{

    #page-container{

        #main-content{

            .container{

                #content-area{

                    .et_pb_extra_column_main{

                        .page{

                            .post-wrap{

                                .entry-content{

                                    .home_section{

                                        #homepage-layout{

                                            .page_head{

                                                margin-bottom: 20px;

                                            }

                                            .home_col_2{



                                            }

                                        }

                                    }

                                }

                            }

                        }

                    }

                    .et_pb_extra_column_sidebar{

                        margin-top: 50px;

                    }

                }

            }

        }

    }

}

/********************************/
/******* Default Page End *******/
/********************************/

/********************************/
/****** News & Tech Start *******/
/********************************/

.news_post_layout, tech_post_layout{

    .et_pb_tabs_controls{

        li{

            visibility: visible;

        }

    }

    .et_pb_all_tabs{

        .et_pb_tab{

            padding: 24px 0;

            .et_pb_tab_content{

                .blog_feed_standard, .techpapers_blog_feed_standard{

                    .paginated_content{

                        .post{

                            display: table;
                            margin-bottom: 40px;

                            .header{

                                display: table-cell;
                                vertical-align: middle;
                                width: 50%;
                                padding-right: 20px;
                                margin-bottom: 0;

                            }

                            .post-content{

                                display: table-cell;
                                vertical-align: top;
                                width: 50%;
                                padding-left: 0;

                            }

                        }

                    }

                }

            }

        }

    }

}

/********************************/
/******* News & Tech End ********/
/********************************/

/********************************/
/****** Landing Page Start ******/
/********************************/

.page-template-page-template-landing{

    #page-container{

        #main-content{

            .container{

                #content-area{

                    .et_pb_extra_column_main{

                        #landing-nav{

                            .landing-nav-container{

                                display: table;

                                li{

                                    display: table-cell;
                                    margin-right: 0;
                                    padding-right: 1em;

                                    &:last-child{

                                        padding-right: 0;

                                    }

                                }

                            }

                        }

                    }

                }

            }

        }

    }

}

/********************************/
/******* Landing Page End *******/
/********************************/

/********************************/
/******** Sidebar Start *********/
/********************************/

#page-container{

    #main-content{

        #content-area{

            .et_pb_extra_column_sidebar{

                .ws_shortcode_widget{

                    .tab_desktop_section{

                        .tab_desktop_row_head{

                            .tab_desktop_head{

                                h1{



                                }

                            }

                        }

                        .tab_desktop_row_img_text{


                            .tab_desktop_img{



                            }

                            .tab_desktop_text{



                            }

                        }

                        .tab_desktop_row_btn{

                            .tab_desktop_btn{

                                width: 100%;
                                text-align: center;

                            }

                        }

                    }

                }

                .widget_text{

                    .dam_widget_section{

                        .dam_widget_row{

                            .dam_widget_module{

                                li{

                                    padding: 10px 3%;

                                    span{

                                        display: inline-block;
                                        vertical-align: middle;

                                    }

                                    .et_pb_counter_title{

                                        width: 35%;

                                    }

                                    .et_pb_counter_container{

                                        width: 63%;

                                    }

                                }

                            }

                        }

                    }

                }

            }

        }

    }

}

/********************************/
/********* Sidebar End **********/
/********************************/

/********************************/
/********* Footer Start *********/
/********************************/


/****** Footer Tabs Start ******/

#footer-tabs {

    .simple-tabs-nav {
        display: table;

        li {
            display: table-cell;
            margin: 0;
            padding-right: 1em;
        }
    }

    .simple-tabs-content{

        .container{

            max-width: 77%;

        }

    }
}

/******* Footer Tabs Publication Start *******/

#footer-tab-1{

    .container{

        max-width: 96% !important;
        width: 100%;

        .publications_tab_section{

            .publications_tab_row_desktop{

                display: block;

                .publications_tab_col{

                    .tab_desktop_section{

                        .tab_desktop_row_head{

                            .tab_desktop_head{

                                h1{



                                }

                            }

                        }

                        .tab_desktop_row_img_text{

                            .tab_desktop_img{



                            }

                            .tab_desktop_text{



                            }

                        }

                        .tab_desktop_row_btn{

                            .tab_desktop_btn{



                            }

                        }

                    }

                }

                .publications_tab_col_imiesa{

                    .tab_desktop_section{

                        .tab_desktop_row_img_text{



                        }

                    }

                }

                .publications_tab_col_wasa{

                    .tab_desktop_section{

                        .tab_desktop_row_img_text{

                            /*padding: 28.5px 0;*/

                        }

                    }

                }

                .publications_tab_col_resource{

                    .tab_desktop_section{

                        .tab_desktop_row_img_text{



                        }

                    }

                }

            }

            .publications_tab_row_mobile{

                display: none;

            }

        }

    }

}

/******** Footer Tabs Publication End ********/

#footer-tab-2{

    .container{

        max-width: 90% !important;

        .newsletter_section{

            .newsletter_row{

                .newsletter_col_text{

                    .newsletter_text_module{

                        font-size: 20px;

                        h1{

                            font-size: 36px;

                        }

                    }

                    .newsletter_module{

                        .et_pb_newsletter_form{

                            padding-left: 0;
                            width: 100%;

                            p{

                                display: inline-block;
                                width: 32%;
                                margin-right: 0.7%;

                                input{



                                }

                                .et_pb_newsletter_button{

                                    font-size: 22px !important;

                                }

                                &:nth-of-type(3){

                                    margin-right: 0;

                                }

                                &:last-of-type{

                                    display: block;
                                    width: unset;

                                    a{

                                        display: inline-block;
                                        width: auto;

                                    }

                                }

                            }

                        }

                    }

                }

            }

        }

    }

}

/******* Footer Tabs End *******/

/***** Footer Menu Start ******/

#footer{

    .container{

        .et_pb_extra_row{

            .et_pb_extra_column{

                .widget_nav_menu{

                    margin-bottom: 5px;

                }

            }

        }

    }

}

/****** Footer Menu End *******/

/***** Footer Bottom Start ******/

#footer-bottom{

    .container{

        .copy{

            display: inline-block;
            font-size: 18px;

        }

    }

}

/****** Footer Bottom End *******/

/********************************/
/********** Footer End **********/
/********************************/
