/******************************************************************
Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/**
 * Helpers
 */

.nopad {
    margin: 0 !important;
    padding: 0 !important;

    .et_pb_row,
    .et_pb_column {
        margin: 0 !important;
        padding: 0 !important;
    }
}

.nopad-top {
    margin-top: 0 !important;
    padding-top: 0 !important;

    .et_pb_row,
    .et_pb_column {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
}

.nopad-bottom {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;

    .et_pb_row,
    .et_pb_column {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
}

.et_pb_code {

    p {
        padding: 0;
    }
    br {
        display: none;
    }
}

/**
 * Woocommerce
 */

nav.woocommerce-MyAccount-navigation {

    ul {
        list-style: none;
        padding: 0 !important;
        margin-bottom: 2em;

        li {
            list-style: none;

            a {
                font-size: 1.1em;
                border: 1px solid $border-color;
                border-bottom: none;
                display: block;
                width: 100%;
                padding: 0.5em 0.5em 0.5em 0.8em;
            }

            &:last-child {
                border-bottom: 1px solid $border-color;
            }

            &.is-active {

                a {
                    border-left: 2px solid $black;
                    font-weight: bold;
                }
            }
        }
    }
}

/**
 * Pagination
 */

nav.pagination {
    clear: both;
    display: block;
    margin: 1.5em 0;
    text-align: center;

    ul {
        display: inline-block;
        background-color: $white;
        white-space: nowrap;
        padding: 0;
        clear: both;
        border-radius: 3px;
    }

    li {
        padding: 0;
        margin: 0;
        float: left;
        display: inline;
        overflow: hidden;
        border-right: 1px solid $gray;
    }

    a, span {
        margin: 0;
        text-decoration: none;
        padding: 0;
        line-height: 1em;
        font-size: 1em;
        font-weight: normal;
        padding: 0.75em;
        min-width: 1em;
        display: block;
        color: $highlight-color;

        &:hover, &:focus {
            background-color: $highlight-color;
            color: $white;
        }
    }

    .current{
        cursor: default;
        color: inherit;

        &:hover, &:focus {
            background-color: inherit;
            color: inherit;
        }
    }

}

/********************************/
/******** Helpers Start *********/
/********************************/

.et_pb_row{

    width: 100% !important;

}

h1, h2, h3, h4, h5, h6{

    font-family: $segoe_regular;
    font-weight: bold;

}

p{

    font-family: $segoe_regular;

}

.ws_vertical_align{

    .et_pb_column{

        display: flex;
        flex-direction: column;
        justify-content: center;

    }

}

.pub_text{

    margin-bottom: 70px !important;

    .et_pb_text_inner{

        h1{

            padding-bottom: 27px;

        }

    }

}

.video-play-button{

    color: #fff !important;

}

/********************************/
/********* Helpers End **********/
/********************************/

/********************************/
/******** Modules Start *********/
/********************************/



/********************************/
/********* Modules End **********/
/********************************/

/********************************/
/********* Header Start *********/
/********************************/

.ws_slide_in_menu_container{

    position: fixed;
    top: 0;
    left: 0;

    .et_pb_fullscreen_nav_container{

        #et-navigation{



        }

    }

}

.header{

    #main-header-wrapper{

        #main-header{

            .container{

                padding: 0 10px;

                .ws_menu_search_container{

                    display: inline-block;
                    padding: 26px 0;

                    .ws_menu_search_inner{

                        .ws_menu_container{

                            .ws_menu_inner{

                                #et-navigation{

                                    #et-mobile-navigation{

                                        .show-menu{

                                            .show-menu-button{

                                                padding: 9px 0;
                                                border-radius: 0;
                                                width: 25px;

                                                span{

                                                    background-color: $color-accent;
                                                    border-radius: 0;
                                                    width: 25px;
                                                    margin-bottom: 5px;

                                                    &:last-child{

                                                        margin-bottom: 0;

                                                    }

                                                }

                                            }

                                            .toggled{

                                                span{

                                                    margin-bottom: 0;

                                                    &:first-child{

                                                        @include transform(translateY(8px) rotate(45deg));

                                                    }

                                                    &:last-child{

                                                        @include transform(translateY(0) rotate(-45deg));

                                                    }

                                                }

                                            }

                                        }

                                        nav{

                                            max-width: 320px;

                                            #et-info{

                                                padding-bottom: 0;

                                                .et-extra-social-icons{

                                                    display: block;
                                                    margin-left: auto;
                                                    margin-right: auto;
                                                    margin-bottom: 15px;
                                                    text-align: center;

                                                    .et-extra-social-icon{

                                                        margin-bottom: 0;

                                                        &:last-child{

                                                            margin-right: 0;

                                                        }

                                                        .et-extra-icon{

                                                            border-radius: 50%;
                                                            width: 42.29px;
                                                            height: 42.29px;
                                                            font-size: 20px;
                                                            position: relative;

                                                            &::before{

                                                                font-size: 20px;
                                                                position: absolute;
                                                                top: 50%;
                                                                left: 50%;
                                                                margin-top: -20px;
                                                                margin-left: -10px;
                                                                color: #fff;

                                                            }

                                                        }

                                                        .et-extra-icon-facebook.et-extra-icon-background,
                                                        .et-extra-icon-facebook.et-extra-icon-background-hover:hover{

                                                            background: $color_fb !important;
                                                            @include box-shadow(0px 6px 30px -6px rgba(0,0,0,0.75));

                                                        }

                                                        .et-extra-icon-twitter.et-extra-icon-background,
                                                        .et-extra-icon-twitter.et-extra-icon-background-hover:hover{

                                                            background: $color_tw !important;
                                                            @include box-shadow(0px 6px 30px -6px rgba(0,0,0,0.75));

                                                        }

                                                        .et-extra-icon-instagram.et-extra-icon-background,
                                                        .et-extra-icon-instagram.et-extra-icon-background-hover:hover{

                                                            background-image: linear-gradient(to bottom, #5342D6, #B729A8, #F2203E, #FEC053) !important;
                                                            @include box-shadow(0px 6px 30px -6px rgba(0,0,0,0.75));

                                                        }

                                                        .et-extra-icon-linkedin.et-extra-icon-background,
                                                        .et-extra-icon-linkedin.et-extra-icon-background-hover:hover{

                                                            background: $color_li !important;
                                                            @include box-shadow(0px 6px 30px -6px rgba(0,0,0,0.75));

                                                        }

                                                        .et-extra-icon-youtube.et-extra-icon-background,
                                                        .et-extra-icon-youtube.et-extra-icon-background-hover:hover{

                                                            background: $color_yt !important;
                                                            @include box-shadow(0px 6px 30px -6px rgba(0,0,0,0.75));

                                                        }

                                                        .et-extra-icon-facebook{

                                                            background-color: $color_fb;

                                                        }

                                                        .et-extra-icon-twitter{

                                                            background-color: $color_tw;

                                                        }

                                                        .et-extra-icon-instagram{

                                                            background-image: $color_in;

                                                        }

                                                        .et-extra-icon-linkedin{

                                                            background-color: $color_li;

                                                        }

                                                        .et-extra-icon-youtube{

                                                            background-color: $color_yt;

                                                        }

                                                    }

                                                }

                                                .et-top-search{

                                                    margin-right: 0;
                                                    margin-bottom: 15px;
                                                    width: 100%;

                                                    .et-search-form{

                                                        .et-search-field{

                                                            width: 100%;
                                                            border: 2px solid $med_grey;
                                                            background-color: #fff;
                                                            border-radius: 0;
                                                            font-family: $roboto;
                                                            font-size: 15px;
                                                            color: $med_grey;
                                                            text-transform: capitalize;
                                                            font-weight: 400;
                                                            padding: 0 21px;

                                                            &::placeholder{

                                                                font-family: $roboto;
                                                                font-size: 15px;
                                                                color: $med_grey;
                                                                text-transform: capitalize;
                                                                font-weight: 400;

                                                            }

                                                        }

                                                        .et-search-submit{

                                                            position: absolute;
                                                            top: 50%;
                                                            right: 10px;
                                                            margin-top: -13px;
                                                            padding: 0;


                                                            &::before{

                                                                font-family: ETmodules!important;
                                                                content: '\55';
                                                                vertical-align: middle;
                                                                color: inherit;
                                                                font-size: 18px;
                                                                color: $color-accent;

                                                            }

                                                        }

                                                    }

                                                }

                                                .top-login-btn{

                                                    @extend .header_login_btn;
                                                    margin: 0 auto 22px;

                                                    .my_account{

                                                        margin-left: 0;
                                                        width: 100%;
                                                        font-family: $segoe_regular;
                                                        font-size: 16px;
                                                        color: #fff;

                                                    }

                                                }

                                                .et-top-cart-total{

                                                    width: 47.5%;
                                                    font-family: $segoe_regular;

                                                    .et-cart{

                                                        border-radius: 24px;
                                                        margin-right: 0;
                                                        margin-bottom: 0;
                                                        padding-top: 6px;
                                                        padding-bottom: 6px;
                                                        font-weight: 400;
                                                        font-size: 16px;

                                                        span{

                                                            text-transform: capitalize;

                                                        }

                                                    }

                                                }

                                            }

                                        }

                                    }

                                }

                            }

                        }

                        .ws_search_container{

                            display: none;

                        }

                    }

                }

                .ws_logo_container{

                    .ws_logo_inner{

                        .logo{

                            height: 36px;
                            margin: 24px 0;
                            float: right;

                        }

                    }

                }

                .ws_social_container{

                    display: none;

                }

            }

        }

    }

}

#sub-header {

    background: rgba(0, 122, 148, 0.1);
    padding: 40px 50px 45px;

    #landingpages {
        width: 100%;
        text-align: center;

        .landingpage {
            display: inline-block;
            padding: 0 1em;
            margin-bottom: 1em;
            vertical-align: middle;

            img{

                height: auto;
                width: 100%;

            }

        }
    }
}

/********************************/
/********** Header End **********/
/********************************/


/********************************/
/****** Default Page Start ******/
/********************************/

.home{

    #page-container{

        #main-content{

            .container{

                #content-area{

                    .et_pb_extra_column_main{

                        .page{

                            border-top: 0;
                            box-shadow: none;

                            .post-wrap{

                                .entry-content{

                                    .home_section{

                                        padding: 0;

                                        .home_row_2{

                                            padding: 0;

                                            .home_col{

                                                .page_head{

                                                    margin-bottom: 15px;

                                                    h1{

                                                        /*font-family: $segoe_regular;*/
                                                        font-size: 32px;
                                                        /*color: $color-accent;*/
                                                        text-transform: capitalize;

                                                    }

                                                }

                                            }

                                        }

                                        #homepage-layout{

                                            .home_col{

                                                .et_pb_posts{

                                                    .et_pb_post{

                                                        .entry-title{

                                                            /*font-family: $segoe_regular;*/
                                                            font-size: 26px;
                                                            line-height: 1.063em;
                                                            padding-bottom: 15px;
                                                            margin-top: 0;

                                                            a{

                                                                color: inherit;
                                                                font-size: 26px;

                                                            }

                                                        }

                                                        .entry-featured-image-url{

                                                            margin-bottom: 25px;

                                                        }

                                                        .post-content{

                                                            font-family: $segoe_regular;
                                                            font-size: 18px;
                                                            font-weight: 400;
                                                            line-height: 1.33em;

                                                            .more-link{

                                                                @extend %blog_link;

                                                            }

                                                        }

                                                    }

                                                }

                                            }

                                            .home_col_2{

                                                .home_main_post_module_stories{

                                                    .et_pb_post{

                                                        .post-content{

                                                            .more-link{

                                                                color: $color-accent !important;

                                                            }

                                                        }

                                                    }

                                                }

                                            }

                                            .home_col_2{

                                                .ws_et_pb_posts{

                                                    .et_pb_post{

                                                        .entry-title{

                                                            /*font-family: $sitka_banner_bold;*/

                                                        }

                                                    }

                                                }

                                            }

                                        }

                                    }

                                }

                            }

                        }

                    }

                }

            }

        }

    }

}

.page-template-default{

    #page-container{

        #main-content{

            .container{

                #content-area{

                    .et_pb_extra_column_main{

                        .page{

                            border-top: 0;
                            box-shadow: none;

                            .post-content{

                                /****** cpd start *****/

                                #cpd_section{

                                    border: 0;

                                    .et_pb_row{

                                        width: 90% !important;

                                    }

                                    .et_pb_row_1{

                                        .et_pb_text_1{

                                            p{

                                                font-family: $segoe_regular;
                                                color: rgba(0, 0, 0, 0.5);

                                            }

                                        }

                                    }

                                }

                                /******* cpd end ******/



                                /****** contact us start *****/

                                .contactus_section{

                                    .contactus_row_details{

                                        h4{

                                            font-size: 22px;

                                        }

                                    }

                                    .contactus_row_form{

                                        .contactus_module{

                                            .et_pb_contact{

                                                .et_pb_contact_field{

                                                    input, textarea{

                                                        max-width: 100%;

                                                        &::placeholder{

                                                            text-transform: capitalize;

                                                        }

                                                    }

                                                }

                                                .et_contact_bottom_container{

                                                    .et_pb_contact_submit{

                                                        @extend .yellow_btn;
                                                        text-transform: capitalize !important;
                                                        padding: 0.44em 2.56em !important;
                                                        background-color: $color-accent !important;
                                                        border-color: $color-accent !important;
                                                        font-weight: 400 !important;

                                                        &:hover{

                                                            padding: 0.44em 2.56em !important;
                                                            color: $color-accent !important;
                                                            border-color: $color-accent !important;

                                                        }

                                                    }

                                                }

                                            }

                                        }

                                    }

                                }

                                /******* contact us end ******/

                            }

                        }

                    }

                }

            }

        }

    }

}

/********************************/
/******* Default Page End *******/
/********************************/

/********************************/
/****** News & Tech Start *******/
/********************************/

.news_header_text_posts{

    font-family: 'Open Sans';
    font-weight: 700;

    p{

        top: 4px;
        padding-left: 0;

    }

}

.news_post_layout, tech_post_layout{

    border: 0;

    .et_pb_tabs_controls{

        li{

            visibility: hidden;

        }

    }

    .et_pb_all_tabs{

        .et_pb_tab_1{

            display: none;

        }

        .et_pb_tab{

            padding: 24px 0;

            .et_pb_tab_content{

                .blog_feed_standard, .techpapers_blog_feed_standard{

                    .paginated_content{

                        .post{

                            display: block;
                            margin-bottom: 40px;

                            .header{

                                padding-right: 0;
                                margin-bottom: 20px;
                                width: 100%;

                            }

                            .post-content{

                                padding-left: 0;
                                width: 100%;

                            }

                        }

                    }

                }

            }

        }

    }

}

/********************************/
/******* News & Tech End ********/
/********************************/

/********************************/
/****** Landing Page Start ******/
/********************************/

.page-template-page-template-landing{

    #page-container{

        #main-content{

            .ws_landing_title{

                /*font-family: $segoe_regular;*/
                font-size: 32px;

            }

            .container{

                #content-area{

                    .et_pb_extra_column_main{

                        #landing-nav{

                            @include box-shadow(0 9px 4px -4px rgba(0,0,0,0.15));
                            margin-bottom: 10px;

                            .landing-nav-container{

                                width: 100%;
                                padding-left: 0;
                                padding-bottom: 1em;
                                text-align: center;

                                li{

                                    display: block;
                                    font-family: $segoe_regular;
                                    font-weight: bold;
                                    color: $light_med_grey;
                                    font-size: 25px;

                                    a{

                                        display: inline-block;
                                        color: inherit;
                                        padding-bottom: 5px;

                                    }

                                }

                                li.active{

                                    a{

                                        color: $color-accent;
                                        border-bottom: 3px solid $color-accent;

                                    }

                                }

                            }

                        }

                        .page{

                            border-top: 0;
                            box-shadow: none;

                            .post-content{

                                .landing_section{

                                    .landing_row{

                                        padding: 6% 0;

                                        .landing_col{

                                            .landing_text{

                                                margin-bottom: 25px;

                                                .et_pb_text_inner{

                                                    h1{

                                                        display: inline-block;
                                                        font-family: $segoe_regular;
                                                        font-weight: bold;
                                                        font-size: 25px;
                                                        line-height: 1.120em;
                                                        color: $color-accent;
                                                        margin-bottom: 25px;
                                                        border-bottom: 3px solid $color-accent;

                                                    }

                                                    p{

                                                        font-family: $segoe_regular;
                                                        font-weight: 400;
                                                        line-height: 1.5em;
                                                        font-size: 16px;
                                                        margin-bottom: 0;
                                                    }

                                                }

                                            }

                                            .landing_social{

                                                .et-social-facebook{

                                                    .icon{

                                                        background-color: $color_fb !important;

                                                        &:hover{

                                                            @include box-shadow(0px 6px 30px -6px rgba(0,0,0,0.75));

                                                            &::before{

                                                                color: #fff;


                                                            }

                                                        }

                                                    }

                                                }

                                                .et-social-twitter{

                                                    .icon{

                                                        background-color: $color_tw !important;

                                                        &:hover{

                                                            @include box-shadow(0px 6px 30px -6px rgba(0,0,0,0.75));

                                                            &::before{

                                                                color: #fff;


                                                            }

                                                        }

                                                    }

                                                }

                                                .et-social-instagram{

                                                    .icon{

                                                        background-image: $color_in !important;

                                                        &:hover{

                                                            @include box-shadow(0px 6px 30px -6px rgba(0,0,0,0.75));

                                                            &::before{

                                                                color: #fff;


                                                            }

                                                        }

                                                    }

                                                }

                                                .et-social-linkedin{

                                                    .icon{

                                                        background-color: $color_li !important;

                                                        &:hover{

                                                            @include box-shadow(0px 6px 30px -6px rgba(0,0,0,0.75));

                                                            &::before{

                                                                color: #fff;


                                                            }

                                                        }

                                                    }

                                                }

                                                .et-social-youtube{

                                                    .icon{

                                                        background-color: $color_yt !important;

                                                        &:hover{

                                                            @include box-shadow(0px 6px 30px -6px rgba(0,0,0,0.75));

                                                            &::before{

                                                                color: #fff;


                                                            }

                                                        }

                                                    }

                                                }

                                            }

                                            .et_pb_button_module_wrapper{

                                                width: 47.25%;
                                                margin-right: 5.5%;
                                                float: left;

                                                &:last-child{

                                                    margin-right: 0;

                                                }

                                                .landing_button{

                                                    @extend .yellow_btn;
                                                    font-weight: 400;
                                                    font-size: 22px;
                                                    width: 100%;
                                                    text-align: center;
                                                    padding-left: 0 !important;
                                                    padding-right: 0 !important;

                                                    &:hover{

                                                        padding-left: 0 !important;
                                                        padding-right: 0 !important;

                                                    }

                                                }

                                                .subscribe_btn{

                                                    background-color: $color-accent !important;
                                                    border-color: $color-accent !important;

                                                    &:hover{

                                                        border-color: $color-accent !important;
                                                        color: $color-accent !important;

                                                    }

                                                }

                                                .advertise_btn{

                                                    background-color: #fff !important;
                                                    border-color: $color-accent !important;
                                                    color: $color-accent !important;

                                                    &:hover{

                                                        background-color: $color-accent !important;
                                                        border-color: $color-accent !important;
                                                        color: #fff !important;

                                                    }

                                                }

                                            }

                                        }

                                    }

                                }

                            }

                        }

                    }

                }

            }

        }

    }

}

/********************************/
/******* Landing Page End *******/
/********************************/



/********************************/
/******** Archive Start *********/
/********************************/

.archive{

    .et_pb_extra_column_main{

        >h1{

            font-family: $segoe_regular;
            font-size: 32px;
            color: $color-accent;

        }

    }

    .posts-blog-feed-module{

        border-radius: 0;
        border-top-width: 6px;
        padding-bottom: 24px;
        border-width: 0;
        border-top-width: 0;
        border-top-color: #007A94 !important;
        border-style: solid;
        border-left-color: #95989a !important;
        border-right-color: #95989a !important;
        border-bottom-color: #95989a !important;
        @include box-shadow(none);


        .module-head{

            border-color: #95989a;
            padding-left: 30px !important;

        }

        .feed-title{

            color: #007A94 !important;
            font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
            text-transform: uppercase !important;
            font-size: 16px;
            letter-spacing: 0 !important;
            margin-bottom: 0;

        }

        .paginated_content{

            padding: 24px 0;

        }

        article{

            border-bottom: 0;
            padding: 0;
            margin-bottom: 40px;

            .post-content{

                .post-meta{

                    font-size: 16px;

                }

                .entry-summary{

                    p{

                        &:last-of-type{

                            padding-bottom: 0;

                        }

                    }

                    .read-more-button{

                        padding-left: 0 !important;
                        text-transform: lowercase !important;
                        color: $color-accent !important;
                        border: 0;

                    }

                }

            }

        }

    }

    .paginated_page{

        &::before{

            display: none !important;

        }

    }

}


/********************************/
/********* Archive End **********/
/********************************/


/********************************/
/******* blog page start ********/
/********************************/
.post-template-default{

    #page-container{

        #content-area{

            .et_pb_extra_column_main{

                article{

                    .post-nav{

                        .nav-links{

                            .nav-link{

                                a{

                                    .button{

                                        @extend .yellow_btn;
                                        background-color: $color-accent !important;
                                        border-color: $color-accent !important;
                                        font-size: 18px !important;
                                        font-weight: 400 !important;
                                        padding: 0.44em 1.5em;

                                        &::before{

                                            color: #fff;

                                        }

                                        &:hover{

                                            color: $color-accent !important;
                                            border-color: $color-accent !important;
                                            padding: 0.44em 1.5em !important;

                                            &::before{

                                                color: $color-accent;

                                            }

                                        }


                                    }

                                }

                            }

                            .nav-link-prev{

                                a{

                                    .button{

                                        &::before{

                                            margin-right: 20px;

                                        }

                                    }

                                }

                            }

                            .nav-link-next{

                                a{

                                    .button{

                                        &::before{

                                            margin-left: 20px;

                                        }

                                    }

                                }

                            }

                        }

                    }

                }

                .related-posts{

                    .related-post{

                        .title{

                            font-size: 18px;

                            a{

                                font-size: inherit;

                            }

                        }

                    }

                }

            }

        }

    }

}
/********************************/
/******* blog page End **********/
/********************************/


/********************************/
/******** Sidebar Start *********/
/********************************/

#page-container{

    #main-content{

        #content-area{

            .et_pb_extra_column_sidebar{

                .widgettitle{

                    text-transform: capitalize;
                    font-size: 14px;

                }

                #custom_html-3{

                    border: 0;

                    p{

                        &:last-of-type{

                            margin-bottom: 0 !important;

                        }

                    }

                    .more-link{

                        margin-top: 0;
                        padding-left: 0;
                        font-family: $segoe_semibold;
                        font-size: 18px;
                        color: $color-accent;
                        text-transform: lowercase;
                        background-color: transparent;


                        &::after{

                            background-color: transparent;
                            display: inline-block;
                            vertical-align: bottom;
                            font-family: ETmodules!important;
                            content: "\35";
                            font-size: 25px;

                        }

                    }

                }

                #custom_html-4{

                    .widgettitle{

                        background-color: $green;

                    }

                }

                #ws-2{

                    border: 1px solid rgba(0,0,0,0.1);

                    .et_pb_tabs{

                        border: 0;

                    }

                    .et_pb_all_tabs{

                        .ws_btn{

                            width: 100%;
                            border-radius: 0;
                            font-weight: 400;

                        }

                    }

                }

                .et_pb_widget{

                    box-shadow: none;
                    border: 1px solid rgba(0,0,0,.1);
                    border-radius: 0;

                    input {
                        max-width: 100%;
                    }

                    .et_pb_tabs {

                        .et_pb_tabs_controls {

                            li {

                                a:hover {
                                    color: #82c0c7 !important;
                                }
                            }
                        }
                    }



                    .widgettitle{

                        background-color: $light_med_grey;

                    }

                }

                .widget_et_ads{

                    border: 0;

                    .widget_content{

                        padding: 0;

                        .etad{

                            margin: 0;
                            width: 100%;

                            img{

                                width: 100%;

                            }

                        }

                    }

                }

                .widget_text{

                    .custom-html-widget{

                        #waste_widget{

                            padding: 30px 4% 4% 4%;

                            .label_input{

                                margin-bottom: 20px;

                                label{

                                    display: block;
                                    margin-bottom: 5px;

                                }

                                select, input{

                                    background-color: #f1f1f1;
                                    border: 1px solid $light_grey;

                                }

                            }

                            .checkbox{

                                label, inpuut{

                                    display: inline-block;

                                }

                            }

                            .submit{

                                input{

                                    width: 100%;
                                    border-radius: 0;
                                    border: 2px solid $color-accent;
                                    color: #fff;
                                    background-color: $color-accent;
                                    font-weight: 400;

                                    &:hover{

                                        background-color: #fff;
                                        color: $color-accent;

                                    }

                                }

                            }

                        }

                    }

                    .textwidget{

                        padding: 0;

                        p{

                            margin: 0;

                        }

                    }

                    .dam_widget_section{

                        .dam_widget_row{

                            .dam_widget_module{

                                li{

                                    border-bottom: 0;

                                    span{



                                    }

                                    .et_pb_counter_title{



                                    }

                                    .et_pb_counter_container{

                                        margin-bottom: 0;

                                        .et_pb_counter_amount{

                                            .et_pb_counter_amount_number{

                                                font-family: $segoe_regular;
                                                font-weight: 400;
                                                font-size: 16px;

                                            }

                                        }

                                    }

                                }

                            }

                        }

                    }

                }

                .ws_shortcode_widget{

                    .subscribe_tabs_widget{

                        .et_pb_all_tabs{

                            .et_pb_tab{

                                padding: 24px 15px;
                                padding-bottom: 0;

                                .et_pb_tab_content{

                                    p{

                                        line-height: 1.3em;

                                    }

                                }

                                .subscribe_modal_section{

                                    .zoomIn{

                                        -webkit-animation-name: ws_fadeIn;
                                        animation-name: ws_fadeIn;

                                    }

                                    .zoomOut{

                                        -webkit-animation-name: ws_fadeOut;
                                        animation-name: ws_fadeOut;

                                    }

                                    .animated{

                                        -webkit-animation-duration: 1s;
                                        animation-duration: 1s;
                                        -webkit-animation-fill-mode: both;
                                        animation-fill-mode: both;

                                    }

                                    .subscribe_modal{

                                        height: 100% !important;
                                        width: 100% !important;
                                        max-width: 100% !important;
                                        background-color: rgba(0, 0, 0, 0.8) !important;

                                        .et_pb_column{

                                            background-color: #fff;
                                            height: 100% !important;
                                            width: 100% !important;
                                            top: 0 !important;
                                            left: 0 !important;

                                            .modal_title{

                                                background-color: $color-accent;
                                                padding: 15px 15px;

                                                h4{

                                                    color: #fff;
                                                    font-size: 22px !important;
                                                    display: inline-block;
                                                    width: 85%;
                                                    vertical-align: middle;
                                                    padding-bottom: 5px;

                                                }

                                                .modal_btn_contain{

                                                    display: inline-block;
                                                    margin-bottom: 0;
                                                    vertical-align: middle;
                                                    float: right;

                                                    .modal_close_btn{

                                                        background-color: transparent;
                                                        border: 0;
                                                        color: transparent;
                                                        padding: 0;
                                                        line-height: 0;

                                                        &::after{

                                                            content: "\4d";
                                                            opacity: 1;
                                                            margin-left: unset;
                                                            width: 100%;
                                                            height: 100%;
                                                            color: #fff;
                                                            position: unset;
                                                            vertical-align: middle;

                                                        }

                                                        &:hover{

                                                            padding: 0;

                                                        }

                                                    }

                                                }

                                            }

                                            .modal_form{

                                                padding: 0 15px;

                                                form{

                                                    p{

                                                        margin-bottom: 1em;

                                                    }

                                                    input{

                                                        font-size: 15px;

                                                        &::placeholder{

                                                            text-transform: capitalize;

                                                        }

                                                    }

                                                }

                                            }

                                        }

                                    }



                                    .modal_open_btn{

                                        @extend .yellow_btn;
                                        text-align: center;
                                        background-color: $color-accent !important;
                                        border-color: $color-accent !important;
                                        font-size: 18px !important;
                                        text-transform: capitalize !important;

                                        &:hover{

                                            color: $color-accent !important;
                                            border-color: $color-accent !important;

                                        }

                                    }

                                }

                            }

                        }

                    }

                    .tab_desktop_section{

                        padding: 24px 15px;

                        .tab_desktop_row_head{

                            display: none;

                            .tab_desktop_head{

                                h1{

                                    font-family: $segoe_regular;
                                    font-size: 24px;
                                    padding: 0;

                                }

                            }

                        }

                        .tab_desktop_row_img_text{

                            padding-top: 0;
                            padding-bottom: 4%;

                            .tab_desktop_img{



                            }

                            .tab_desktop_text{

                                font-family: $segoe_regular;
                                font-size: 16px;

                            }

                        }

                        .tab_desktop_row_btn{

                            .tab_desktop_btn{

                                @extend .yellow_btn;
                                font-size: 18px !important;
                                text-transform: capitalize !important;
                                font-weight: 400;

                            }

                        }

                    }

                }

                #custom_html-2{

                    border: 0;

                    .widgettitle{

                        background-color: transparent;
                        color: $color-accent;

                    }

                }

            }

        }

    }

}

/********************************/
/********* Sidebar End **********/
/********************************/



/********************************/
/********* Footer Start *********/
/********************************/

/****** Footer Tabs Start ******/

#footer-tabs {
    background: #fff;

    .footer-nav-wrapper {

        @include box-shadow(0 5px 4px -4px rgba(0,0,0,.15));
        padding: 0px 0 22px;
        position: relative;
    }

    .simple-tabs-nav {
        font-family: $segoe_regular;
        background: $white;
        font-weight: bold;
        font-size: 28px;
        text-align: center;
        width: 100%;
        max-width: 100%;
        padding-left: 0;
        z-index: 1;

        li {
            display: block;
            margin-bottom: 0.5em;

            span {
                display: inline-block;
                color: $med_grey;
                padding-bottom: 5px;
                border-bottom: 3px solid rgba(255,255,255,0);
                cursor: pointer;
                -webkit-transition: all 300ms;
                transition: all 300ms;
            }

            &.active {

                span {
                    color: $green;
                    border-bottom: 3px solid $green;
                }
            }
        }
    }

    .simple-tabs-content {

        background-color: $green;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity 600ms, visibility 600ms;
        transition: opacity 600ms, visibility 600ms;
        height: 0;
        overflow: hidden;

        &.active {
            visibility: visible;
            opacity: 1;
            height: auto;
            padding: 60px 0;
        }

        .et_pb_section {
            background: none;

            .et_pb_row {
                width: auto;
            }

            &:first-child {
                padding-top: 0;

                .et_pb_row:first-child {
                    padding-top: 0;
                }
            }

            &:last-child {
                padding-bottom: 0;

                .et_pb_row:last-child {
                    padding-bottom: 0;
                }
            }
        }

        &:after {
            clear: both;
            content: ' ';
            display: table;
        }
    }
}

/******* Footer Tabs Publication Start *******/

#footer-tab-1{

    .container{

        .publications_tab_section{

            .publications_tab_row_desktop{

                display: none;

                .publications_tab_col{

                    .tab_desktop_section{

                        .tab_desktop_row_head{

                            .tab_desktop_head{

                                h1{

                                    font-family: $segoe_regular;
                                    color: #fff;
                                    font-size: 26px;

                                }

                            }

                        }

                        .tab_desktop_row_img_text{

                            padding: 4% 0 !important;

                            .tab_desktop_text{

                                font-family: $segoe_regular;
                                color: #fff;


                            }

                        }

                        .tab_desktop_row_btn{

                            .tab_desktop_btn{

                                @extend .yellow_btn;
                                font-size: 16px !important;

                                &:hover{

                                    background-color: #fff !important;

                                }

                            }

                        }

                    }

                }

            }

            .publications_tab_row{

                .publications_tab_col{

                    .embed_pub_row{

                        .embed_pub_col{

                            .embed_pub_img{



                            }

                            .embed_pub_text{

                                font-family: $segoe_regular;
                                color: #fff;
                                line-height: 1.3em;

                                h1{

                                    font-family: $segoe_regular;
                                    color: #fff;
                                    line-height: 0.955em;

                                }

                            }

                            .embed_pub_btn{

                                @extend .yellow_btn;
                                width: 100%;
                                text-align: center;

                                &:hover{

                                    background-color: #fff !important;

                                }

                            }

                        }

                    }

                }

            }

        }

    }

}

#footer-tab-3,
#footer-tab-4,
#footer-tab-5{

    .pub_text{

        font-family: $segoe_regular;
        color: #fff;
        line-height: 1.3em;
        font-size: 20px;


        h1{

            font-family: $segoe_regular;
            color: #fff;
            line-height: 0.955em;
            font-size: 36px;

        }

    }

}

/******** Footer Tabs Publication End ********/

#footer-tab-2{

    .container{

        width: 80%;

        .newsletter_section{

            .newsletter_row{

                padding-bottom: 0;

                .newsletter_col_text{

                    .newsletter_text_module{

                        font-family: $segoe_regular;
                        color: #fff;
                        line-height: 1.3em;
                        font-size: 18px;


                        h1{

                            font-family: $segoe_regular;
                            color: #fff;
                            line-height: 0.955em;
                            font-size: 26px;

                        }

                    }

                    .newsletter_module{

                        padding: 0;

                        .et_pb_newsletter_description{

                            display: none;

                        }

                        .et_pb_newsletter_form{

                            width: 100%;
                            padding-left: 0;

                            p{

                                input{

                                    width: 100%;
                                    max-width: unset;

                                }

                                .et_pb_newsletter_button{

                                    @extend .yellow_btn;
                                    font-size: 18px !important;
                                    width: auto;

                                }



                            }

                        }

                    }

                }

            }

        }

    }

}

/******* Footer Tabs End *******/



/***** Footer Menu Start ******/

#footer{
    margin-top: 0;
    background-color: $med_grey;

    .container{

        .widget_nav_menu{

            padding-top: 30px;
            margin-bottom: 30px;

            .menu-main-menu-container{

                .menu{

                    text-align: center;

                    .menu-item{

                        font-family: $segoe_semibold;
                        font-weight: 500;
                        font-size: 14px;
                        padding: 0;
                        padding-bottom: 10px;
                        border: 0;

                        &:last-child{

                            padding-bottom: 0;

                        }

                    }

                }

            }

        }

        .widget_monarchwidget{

            padding-top: 0;
            margin-bottom: 0;

            .et_social_networks{

                padding-left: 0;

                .et_social_icons_container{

                    width: 100%;

                    li{

                        float: none;
                        display: inline-block;
                        margin-right: 10px !important;

                        &:hover{



                        }

                        &:last-child{

                            margin-right: 0 !important;

                        }

                        .et_social_follow{

                            .et_social_icon{

                                background-color: $light_grey;

                            }

                        }

                    }

                    .et_social_facebook{

                        &:hover{

                            .et_social_follow{

                                .et_social_icon{

                                    background-color: $color_in;

                                }

                            }

                        }

                    }

                    .et_social_twitter{

                        &:hover{

                            .et_social_follow{

                                .et_social_icon{

                                    background-color: $color_in;

                                }

                            }

                        }

                    }

                    .et_social_instagram{

                        &:hover{

                            .et_social_follow{

                                .et_social_icon{

                                    background-image: $color_in;

                                }

                            }

                        }

                    }

                    .et_social_linkedin{

                        &:hover{

                            .et_social_follow{

                                .et_social_icon{

                                    background-color: $color_li;

                                }

                            }

                        }

                    }

                    .et_social_youtube{

                        &:hover{

                            .et_social_follow{

                                .et_social_icon{

                                    background-color: $color_yt;

                                }

                            }

                        }

                    }

                }

            }

        }

    }
    
    #footer-nav {
        float: none;
        text-align: left;
        margin-top: -3px;
    }

}

/****** Footer Menu End *******/


/***** Footer Bottom Start ******/

#footer-bottom{

    .container{

        color: $light_grey;
        text-align: center;

        .copy{

            display: block;
            font-size: 12px;
            font-family: $segoe_regular;
            font-weight: 400;

        }

    }

}

/****** Footer Bottom End *******/

/********************************/
/********** Footer End **********/
/********************************/

/********************************/
/******* Animations Start *******/
/********************************/

@keyframes ws_fadeIn{

    0%{

        opacity: 0;

    }

    100%{

        opacity: 1;

    }

}

@keyframes ws_fadeOut{

    0%{

        opacity: 1;

    }

    100%{

        opacity: 0;

    }

}

/********************************/
/******** Animations End ********/
/********************************/

.sub-menu {

    @include transition(none);
    opacity: 1 $nb;
    position: relative $nb;
    visibility: visible $nb;

}

.et_pb_posts {

    .et_pb_post {

        @include display_flex;
        @include flex-direction(column);

        &:last-of-type {

            margin-bottom: 0;

        }
            
        a {

            img {
                width: 100%;
            }
        }

    }

    .entry {

        &-featured-image-url {

            @include order(2);
            margin-bottom: 25px;

        }

        &-title {

            @include order(1);
            padding-bottom: 15px;

        }

    }

    .post {

        &-meta {

            @include order(3);

        }

        &-content {

            @include order(4);
            margin-bottom: 0 $nb;

        }

    }

}

.widget-sm-infusionsoft-signup {

    .et_pb_contact_form_container {

        padding: 24px 15px;

    }

}

.news_header_text_posts {

    left: 0;
    position: absolute;
    top: 15px;

    p {

        position: static;

    }

}

.posts-blog-feed-module {

    &.masonry {

        .post-content {

            margin-bottom: 0 $nb;

        }

    }

    .post-meta {

        font-size: 14px $nb;
        line-height: 1.3 $nb;

        p {

            color: $color-gray-post-meta $nb;
            font-size: inherit $nb;
            line-height: inherit $nb;

        }

        a {

            color: $color-gray-post-meta $nb;

        }

    }

    .excerpt,
    .entry-summary {

        p {

            line-height: 1.5 $nb;

        }

    }

    .read-more-button {

        text-transform: capitalize $nb;

    }

}

#content-area {

    .posts-blog-feed-module {

        .post-meta {

            p {

                color: $color-gray-post-meta $nb;

            }

        }

    }

}

.et_pb_post_title {

    .entry-title {

        font-size: 32px $nb;
        font-weight: 700 $nb;
        padding: 0 $nb;

    }

}

.text_body {

    @include text_element('h') {
        padding-bottom: 20px;
    }

    p {

        &:not(:last-child) {

            margin-bottom: 1em;

        }

    }

    ol,
    ul {

        @include padding('tb', 0);

    }

    li {

        line-height: 1.3;
        margin: 0;

    }

    a {

        color: $color-accent $nb;

    }

}

.post-type-archive-tribe_events {

    .entry-title {

        display: none;

    }

    .post-wrap {

        padding-top: 0;

    }

}

.post-template-default {

    .et_pb_extra_column_main {

        .post-header {

            padding-top: 0;

        }

        .et_extra_other_module {

            border-top: 8px solid $color-accent $nb;

            h3 {

                color: $color-accent $nb;

            }

        }

    }

}

/**
 * MISC
 */

.single {
    
    .single-post-module {
        
        .post-thumbnail.header {
            
            img {
                max-width: 500px;
                margin: 0 auto;
            }
        }
    }
}

.acm_ad_zones {
    
    .widgettitle {
        display: none;
    }
}

.widget-sm-magazines {
    
    .sm-magazine {
        display: flex;
        align-items: center;
    
        .sm-magazine-image {
            flex: 1 0 auto;
            margin: 10px;

            img.alignleft {
                float: none;
                margin-right: 0;
            }
        }
        
        .content {
            padding: 10px 10px 10px 0;
            
            .button {
                margin-top: 8px;
            }
        }
    }
}