/******************************************************************
Stylesheet: Styles for between specific ranges
******************************************************************/

@include min_media(981){

    #homepage-layout {

        .et_pb_column_1, .et_pb_column_2 {

            width: 47.5%;

        }

        .et_pb_column_1{

            margin-right: 5%;

        }

    }

}

/*@include min_media(1094){

    ****** Footer Tabs Publication Start ******

    #footer-tab-1{

        .container{

            .publications_tab_section{

                .publications_tab_row_desktop{

                    .publications_tab_col_imiesa{

                        .tab_desktop_section{

                            .tab_desktop_row_img_text{

                                padding: 17px 0;

                            }

                        }

                    }

                    .publications_tab_col_wasa{

                        .tab_desktop_section{

                            .tab_desktop_row_img_text{

                                padding: 28.5px 0;

                            }

                        }

                    }

                    .publications_tab_col_resource{

                        .tab_desktop_section{

                            .tab_desktop_row_img_text{



                            }

                        }

                    }                                        

                }

            }

        }

    }

    ******* Footer Tabs Publication End *******

}

@include min_media(1098){

    ****** Footer Tabs Publication Start ******

    #footer-tab-1{

        .container{

            .publications_tab_section{

                .publications_tab_row_desktop{

                    .publications_tab_col_imiesa{

                        .tab_desktop_section{

                            .tab_desktop_row_img_text{

                                padding: 29px 0;

                            }

                        }

                    }

                    .publications_tab_col_wasa{

                        .tab_desktop_section{

                            .tab_desktop_row_img_text{

                                

                            }

                        }

                    }

                    .publications_tab_col_resource{

                        .tab_desktop_section{

                            .tab_desktop_row_img_text{



                            }

                        }

                    }                                        

                }

            }

        }

    }

    ******* Footer Tabs Publication End *******

}

@include min_media(1100){

    ****** Footer Tabs Publication Start ******

    #footer-tab-1{

        .container{

            .publications_tab_section{

                .publications_tab_row_desktop{

                    .publications_tab_col_imiesa{

                        .tab_desktop_section{

                            .tab_desktop_row_img_text{

                                padding: 29.5px 0;

                            }

                        }

                    }

                    .publications_tab_col_wasa{

                        .tab_desktop_section{

                            .tab_desktop_row_img_text{

                                padding: 37px 0;
                                
                            }

                        }

                    }

                    .publications_tab_col_resource{

                        .tab_desktop_section{

                            .tab_desktop_row_img_text{



                            }

                        }

                    }                                        

                }

            }

        }

    }

    ******* Footer Tabs Publication End *******

}

@include min_media(1150){

    ****** Footer Tabs Publication Start ******

    #footer-tab-1{

        .container{

            .publications_tab_section{

                .publications_tab_row_desktop{

                    .publications_tab_col_imiesa{

                        .tab_desktop_section{

                            .tab_desktop_row_img_text{

                                padding: 29px 0;

                            }

                        }

                    }

                    .publications_tab_col_wasa{

                        .tab_desktop_section{

                            .tab_desktop_row_img_text{

                                padding: 34.5px 0;
                                
                            }

                        }

                    }

                    .publications_tab_col_resource{

                        .tab_desktop_section{

                            .tab_desktop_row_img_text{



                            }

                        }

                    }                                        

                }

            }

        }

    }

    ******* Footer Tabs Publication End *******

}*/

@include min_media(1024){
    
    #footer{
        
        .container{
            
            .et_pb_extra_row{
                
                .column-1{
                    
                    width: 69.666667%;
                    -ms-flex-preferred-size: 69.66666666%;
                    flex-basis: 69.666667%;
                    
                    .widget_nav_menu{
                        
                        .menu-main-menu-container{
                            
                            text-align: left;
                            
                            .menu{
                                
                                text-align: left;
                                
                                .menu-item{
                                    
                                    margin-right: 10px;
                                    
                                }
                                
                            }
                            
                        }
                        
                    }
                    
                }
                
                .column-4{

                    width: 30.333333% !important;
                    -ms-flex-preferred-size: 30.33333333% !important;
                    flex-basis: 30.333333% !important;
                    
                    .widget_monarchwidget{
                        
                        .et_social_networks{
                            
                            .et_social_icons_container{
                                
                                padding-top: 20px !important;
                                text-align: right !important;
                                
                            }
                            
                        }
                        
                    }

                }
                
            }
            
        }
        
    }
    
}

@include min_media(1175){

    /********************************/
    /****** Landing Page Start ******/
    /********************************/

    .page-template-page-template-landing{

        #page-container{

            #main-content{

                .container{

                    #content-area{

                        .et_pb_extra_column_main{

                            #landing-nav{

                                .landing-nav-container{

                                    li{

                                        font-size: 28px;

                                    }

                                }

                            }

                        }

                    }

                }

            }

        }

    }

    /********************************/
    /******* Landing Page End *******/
    /********************************/

}

@include min_media(1241){
    
    #footer{
        
        .container{
            
            width: 90%;
            
            .et_pb_extra_row{
                
                .column-1{
                    
                    .widget_nav_menu{
                        
                        .menu-main-menu-container{
                            
                            .menu{
                                
                                .menu-item{
                                    
                                    margin-right: 20px;
                                    
                                }
                                
                            }
                            
                        }
                        
                    }
                    
                }
                
            }
                
        }
    
    }
    
}

@include min_media(1336){

    #homepage-layout {

        .et_pb_column_1 {

            width: 55%;
            margin-right: 3%;

        }

        .et_pb_column_2 {

            width: 42%;


        }

    }

}

